input:focus{
background-color: rgb(196, 196, 196);
}
form {
    border: black solid 1px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
p{
    display: inline;
    margin: 0;
}
form{
    margin-left: 4em;
    margin-right: 4em;
}
fieldset{
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    display: flex;
    flex-wrap: wrap;
}
#preferencias input, #preferencias select{
    height: 17px;
}
label{
    margin-left: 15px;
    margin-right: 5px;
}
#preferencias textarea{
max-width: 450px;
}

